/* NAVBAR */
#Nav-links {
    background-color: #333;
    z-index: 999;
  } 

#Nav-links .active {
    text-decoration: underline;
  }

#Nav-links a {
    background-color: #333;
    color: white;
  }

#Nav-links a:hover {
    font-weight: bolder;
  }

/* LANDING PAGES */
#LandPage {
    height: 100vh;
    margin-top: 25vh;
  }

#LandPage img {
    width: 50vw;
  }

    @media (min-width: 700px){ 
        #LandPage img { 
            width: 30vw;
          }
      }
  
    @media (min-width: 1000px){   
        #LandPage img {
            width: 25vw;
          }
      }

#LandPage a {
  margin-top: 5vh;
}

#LandPage p {
  margin: 10vh 10vh 0vh 10vh;
}

/* GLOBAL */
* {
  box-sizing: border-box;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.button {
    min-width: 130px;
}

h1 {
    font-size: 4.5em !important;
    font-family: 'Allison';
    color: black;
    margin: 0;
  }

h2 {
    font-family: 'Allison';
    font-size: 4em !important;
    color: black;
  }

h3 {
  font-family: 'Montserrat';
  font-size: 1.5em !important;
  color: black;
  margin-top: 20px !important;
}

p {
  font-family: 'Montserrat';
}

.small-p {
  font-size: small;
}

.email-link {
  color: black;
  font-weight: bolder;
}

/* FILTER LINKS (HOME) */
.dropdown {
  z-index: 2;
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #333;
}

/* GRID (HOME AND ABOUT) */
#Grid {
  margin: 0px 40px 50px 40px !important;
}

#Grid img {
  width: 80%;
  margin: auto;
}

#Grid p {
  margin: 15px;
}

#Grid .button {
  margin: 20px;
}

.column {
  margin: 25px !important;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #b6b6b6;
  display: flex !important;
  flex-direction: column;
}

  @media (max-width: 800px){ 
    .column { 
        margin: 50px 0px 50px 0px !important;
      }
  }
  
.column a {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  align-self: center;;
  max-width: 80px;
}

/* PAGINATION */
.box {
  margin-bottom: 60px !important;
  box-shadow: none !important;
}

/* RECIPE PAGE */
#Recipe h2 {
  margin-top: 5vh;
}

  @media (max-width: 415px){ 
    #Recipe h2 { 
        font-size: 2.5em !important;
      }
  }

#Recipe img {
  max-width: 80vw;
}

#Recipe a {
  margin: 10vh;
}

#Recipe p {
  margin: 5vh 20vw 0vh 20vw;
}

/* FORM */
#Form h2 {
  margin: 3vh;
}

#Form label {
  display: block;
  font-family: 'Montserrat';
  font-weight: bolder;
}

/* targets the "Choose File" button of file input */
input[type=file]::file-selector-button {
  display: none;
}

/* targets the "file chosen" of file input */
#image {
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  width: 35vh;
}

#Form input, textarea, select {
  overflow: hidden;
  resize: none;
  font-family: 'Montserrat';
  font-size: medium;
  padding: 2vh !important;
  margin: 2vh 0vh 3vh 0vh !important;
}

#Form .button {
  margin: 3vh;
  padding: 0 !important;
}

#description {
  width: 75%;
  height: 20vh;
}

#instructions {
  width: 75%;
  height: 50vh;
}

/* FOOTER */
.sm-links a {
  opacity: 0.8;
}

.sm-links a:hover {
  opacity: 1;
}

.footer img {
  padding: 4vw 5vw 4vw 5vw;
}

