<!DOCTYPE html>
<html>
  {% extends 'base.html' %}
  {% set active_page = 'about' %}
  {% block title %}About Cheffing{% endblock %}
  
  {% block body %}

  <!-- Landing page -->
  <div id="LandPage" class="has-text-centered">
    <h1>About</h1>
    <div>
      <img src="../static/images/logo.png" alt="Cheffing's logo.">
    </div>
    <p>Cheffing provides a communal space for freelance chefs and caterers in Germany to share recipes, network and gain some exposure.</p>
    <a href="#JoinUs" class="button is-dark">Join Us</a>
  </div>

  <!-- Authors -->
  <div id="Grid" class="has-text-centered">
    <h2>Our Chefs</h2>
    <div class="container">
      {% for row in chefs_pagination.items|batch(3) %}
      <div class="columns">
        {% for chef in row %}
        <div class="column">
          <h3>{{ chef.name }}</h3>
          <img src="{{ chef.image }}" alt="A picture relevant to the recipe."/>
          <p>{{ chef.description }}</p>
          <p>Email me at <a class="email-link" href="mailto:{{ chef.email }}?='Mail from Cheffing'" target="_blank">{{ chef.email }}</a></p>
            {% if current_user.get_id()|int == chef.id %}
            <form id="Form" method="POST" class="has-text-centered">
              <h3>Edit</h3>
              <div>
                <input placeholder="Paste new image link"  type="text" name="image" id="image">
              </div>
              <div>
                <input placeholder="New name" type="text" name="name" id="name">
              </div>
              <div>
                <input placeholder="New bio" type="text" name="description" id="description">
              </div>
              <div>
                <input placeholder="New contact details" type="text" name="email" id="email">
              </div>
              </div>
                <input class="button is-dark is-small" type="submit" value="UPDATE">
              </div>
            <div>
            {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>

<!-- Pagination -->
  <nav class="box has-text-centered">
  {% if chefs_pagination.prev_num %}
    <a class="button is-dark" href="/?page={{ chefs_pagination.prev_num }}">Previous Page</a>
  {% else %}
    <span class="button">Previous Page</span>
  {% endif %}

  {% if chefs_pagination.next_num %}
    <a class="button is-dark" href="/?page={{ chefs_pagination.next_num }}">Next Page</a>
  {% else %}
    <span class="button">Next Page</span>
  {% endif %}
  </nav>
{% endblock %}

</html>