<!DOCTYPE html>
<html>
  {% extends 'base.html' %}
  {% set active_page = 'addrecipe' %}
  {% block title %}Add to Cheffing{% endblock %}
  
  {% block body %}

<!-- Post Recipe -->
  <form id="Form" method="POST" class="has-text-centered">
    <h2>Add your Recipe</h2>
    <div id="CustomUpload">
      <label>Cover Photo</label>
      <input type="file" id="image">
    </div>
    <!-- Temporary solution to upload/display image -->
    <div>
      <input placeholder="Paste image link" type="text" name="image" id="image">
    </div>
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title">
    </div>
    <div>
      <label for="category">Category</label>
      <select placeholder="Other" name="category" id="category">
        <option value="1">Other</option>
        <option value="2">Breakfasts</option>
        <option value="3">Tapas/Snacks</option>
        <option value="4">Main meals</option>
        <option value="5">Desserts</option>
      </select>
    </div>
    <div>
      <label for="description">Description</label>
      <textarea placeholder="Shortly describe what the recipe is for." type="text" name="description" id="description"></textarea>
    </div>
    <div>
      <label for="instructions">Instructions</label>
      <textarea placeholder="Instructions go here. &#10&#10 &#8226 Ingredient &#10 &#8226 Ingredient &#10 &#8226 Ingredient" type="text" name="instructions" id="instructions"></textarea>
    </div>
      <input class="button is-dark" type="submit" value="Add">
    </div>
  </form>

  {% endblock %}

</html>