<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% set active_page = 'home' %}
{% block title %}Cheffing{% endblock %}

{% block body %}
<!-- Landing page -->
  <div id="LandPage" class="has-text-centered">
      <h1>Welcome to</h1>
      <div>
        <img src="../static/images/logo.png" alt="Cheffing's logo.">
      </div>
      <a href="/about" class="button is-dark">About Us</a>
  </div>

<!-- Recipes -->
  <div id="Grid" class="has-text-centered">
      <h2>Our Recipes</h2>
      <div>
        <div class="dropdown">
          <button class="button is-dark">Filter</button>
          <div class="dropdown-content">
          <a href="/#Grid">All</a>
          <a href="/1#Grid">Other</a>
          <a href="/2#Grid">Breakfast</a>
          <a href="/3#Grid">Tapas/Snacks</a>
          <a href="/4#Grid">Main Meals</a>
          <a href="/5#Grid">Desserts</a>
          </div>
        </div>
      </div>
      <div class="container">
        {% for row in recipes_pagination.items|batch(3) %}
        <div class="columns">
          {% for recipe in row %}
          <div class="column">
            <h3>{{ recipe.title }}</h3>
            {% for chef in chefs %}
            {% if chef.id == recipe.chef_id %}
            <p class="small-p is-italic">Recipe by {{ chef.name }}</p>
            <img src="{{ recipe.image }}" alt="A picture relevant to the recipe."/>
            <p>{{ recipe.description }}</p>
            <a class="button is-dark is-small" href="/{{ recipe.slug }}">VIEW</a>
            {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
  </div>

<!-- Pagination -->
  <nav class="box has-text-centered">
    {% if recipes_pagination.prev_num %}
      <a class="button is-dark" href="/?page={{ recipes_pagination.prev_num }}">Previous Page</a>
    {% else %}
      <span class="button">Previous Page</span>
    {% endif %}
  
    {% if recipes_pagination.next_num %}
      <a class="button is-dark" href="/?page={{ recipes_pagination.next_num }}">Next Page</a>
    {% else %}
      <span class="button">Next Page</span>
    {% endif %}
  </nav>

{% endblock %}

</html>