<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% set active_page = 'home' %}
{% block title %}Cheffing{% endblock %}

{% block body %}
<!-- Landing page -->
    <div id="LandPage">
        <h1>Welcome to {{slug}}</h1>
        <img src="/static/assets/logo.svg" alt="Cheffing's logo." class="center">
        <a href="/about" class="button center">Contact Us</a>
    </div>

<!-- Recipes -->
    <div id="Recipes">
        <h2>Our Recipes</h2>

        <div class="col-1">
          <h3>Recipe Title 1</h3>
          <img src="/static/assets/logo.svg">
          <p> Recipe description </p>
        </div>

        <div class="col-2">
          <h3>Recipe Title 2</h3>
          <img src="/static/assets/logo.svg">
          <p> Recipe description </p>
        </div>

        <div class="col-3">
          <h3>Recipe Title 3</h3>
          <img src="/static/assets/logo.svg">
          <p> Recipe description </p>
        </div>

    </div>
{% endblock %}

</html>