<!DOCTYPE html>
<html>
  {% extends 'base.html' %}
  {% set active_page = 'signin' %}
  {% block title %}Cheffing Sign In{% endblock %}
  
  {% block body %}

<!-- Sign in -->
  <form id="Form" method="POST" class="has-text-centered">
    <h2>Sign in</h2>
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" id="email">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <div>
    <input class="button is-dark" type="submit" value="Signin">
    </div>
  </form>

  {% endblock %}

</html>